{{confetti-rain}}
<div class='ui segments'>
  <div class='ui inverted masthead center aligned segment'>
    <div class='ui container'>
      <h1
        data-test-jumbotron-header
        class='ui inverted header'>{{t 'common.siteName'}}</h1>
    </div>
  </div>
  <div data-test-why-segment class='ui vertical stripe segment why'>
    <div class='ui centered middle aligned grid container'>
      <div class='eight wide column'>
        <h3 class='ui header'>{{t 'homepageContent.stripes.why.header'}}</h3>
        <p>
          {{t 'homepageContent.stripes.why.para'}}
        </p>
      </div>
      <div class='two wide column'>
        <i class='em em-tada'></i>
      </div>
    </div>
  </div>
  <div data-test-get-started-segment class='ui vertical stripe segment get-started'>
    <div class='ui center aligned text container'>
      {{#link-to 'raffles.index' class='ui button massive primary'}}
        {{t 'homepageContent.stripes.getStarted.cta'}}
      {{/link-to}}
    </div>
  </div>
  <div data-test-shamless-self-promotion-segment class='ui vertical stripe segment who'>
    <div class='ui centered middle aligned grid container'>
      <div class='four wide column'>
        <img src='https://gravatar.com/avatar/7cd754c2a0e4eef5c441536eca55055e?s=200' >
      </div>
      <div class='one wide column'></div>
      <div class='six wide column'>
        <h3 class='ui header'>{{t 'homepageContent.stripes.who.header'}}</h3>
        <p>
          {{t 'homepageContent.stripes.who.para'}}
        </p>
      </div>
    </div>
  </div>
</div>
