<h1
  data-test-add-participants-header
  class='ui header'>{{t 'raffleSetupAddParticipants.header'}}</h1>
<div class='ui form'>
  <div class='field'>
    <label>{{t 'raffleSetupAddParticipants.participantsInput.label'}}</label>
    {{textarea rows=4 value=nameList}}
  </div>
  <button
    data-test-add-participants-button
    class='ui primary button'
    onclick={{action (pipe (action gatherParticipants) (action associateParticipants) (action confirmParticipants))}}>
    {{t 'common.save'}}
  </button>
</div>
