<div class='ui very padded text container segment'>
  {{#if (gt raffles.length 0)}}
    <h1 class='ui header'>
      <i class='icon em em-bulb'></i>
      <div class='content'>
        {{t 'raffleList.header'}}
      </div>
    </h1>
    <div class='ui celled table'>
      {{#light-table table as |t|}}
        {{t.head}}
        {{t.body onRowClick=(action rowClicked)}}
      {{/light-table}}
    </div>
  {{else}}
    <h1 class='ui header'>
      <i class='icon em em-wave'></i>
      <div class='content'>
        {{t 'raffleList.emptyState'}}
        <div class='sub header'>
          {{t 'raffleList.emptyStateDescription'}}
        </div>
      </div>
    </h1>
  {{/if}}
  <button
    class='ui large primary button'
    onclick={{action createNewRaffle}}>{{t 'raffleList.createCta'}}</button>
</div>
